.btnList {
  display: flex;
  margin-left: 2.3em;
}

.btn {
  z-index: 0.1;
  position: relative;
  list-style: none;
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 2px solid rgb(11, 225, 0);
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.btnDisabled {
  position: relative;
  list-style: none;
  color: rgb(255, 255, 255);
  background-color: rgba(58, 58, 58, 0.516);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 1px solid rgb(185, 0, 194);
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.btn img {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}

.btnDisabled img {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}

.btn span {
  font-size: 22px;
  position: absolute;
  top: 50;
  left: 0;
  padding-left: 5px;
  color: yellow;
}

.btnDisabled span {
  font-size: 22px;
  position: absolute;
  top: 50;
  left: 0;
  padding-left: 5px;
  color: yellow;
}

.btn:hover {
  border: 2px solid white;
}

.listStyle {
  list-style: none;
}
