.grapharea {
  background-color: rgb(215, 215, 215);
  color: white;
}

.link {
  font-family: 'splatoon', sans-serif;
  font-size: 24px;
  display: inline-block;
  color: #fff;
  letter-spacing: 10px;
  margin-top: 11px;
}

@media screen and (min-width: 480px) {
  .grapharea {
    background-color: white;
    color: white;
    width: 500px;
    height: 500px;
  }
}
