.grapharea {
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.701);
}

.link {
  font-family: 'splatoon', 'fix';
  font-size: 24px;
  display: inline-block;
  color: #fff;
  letter-spacing: 10px;
  margin-top: 11px;
}

.link {
  font-family: 'splatoon', 'fix';
  font-size: 24px;
  display: inline-block;
  color: #fff;
  letter-spacing: 10px;
  margin-top: 11px;
}

@media screen and (min-width: 480px) {
  .grapharea {
    width: 500px;
    height: 500px;
  }
}
